In [8]:
import pandas as pd

In [9]:
file_in = 'pciseq_omp.csv'

In [14]:
df = pd.read_csv(file_in).rename({'z_stack': 'z'}, axis=1)
df.to_csv('geneData.tsv', sep='\t', index=False)

In [5]:
df

                 y            x          z           Gene
0        144.00000  1021.000000  22.140073  1500015O10Rik
1        188.00000  1591.000000  46.140073  1500015O10Rik
2        195.00000  1593.000000  46.140073  1500015O10Rik
3        206.00000  1007.000000  21.140073  1500015O10Rik
4        208.00000  1029.000000  30.140073  1500015O10Rik
...            ...          ...        ...            ...
410815  1846.74783  8225.807165  21.889103         Yjefn3
410816  1884.74783  9197.807165  23.889103         Yjefn3
410817  2010.74783  9850.807165  48.889103         Yjefn3
410818  2114.74783  8647.807165  23.889103         Yjefn3
410819  2133.74783  9802.807165  49.889103         Yjefn3

[410820 rows x 4 columns]

In [12]:
df.x.max()

9933.807164710946

In [13]:
df.y.max()

2309.747829596396